# Bytecode / caches
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual envs
.venv/
venv/
ENV/

# IDE/editor
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Python tooling
*.egg-info/
.eggs/
build/
dist/

# Jupyter
.ipynb_checkpoints/

# others
*.log
